



@media (max-width:1450px) {
    .Home-Grid-cards-hailights-one{
        height: auto;
    }
}

@media (max-width:1300px) {
    .Home-Grid-cards-hailights-one{
        margin: 0px auto;
    }
}

@media (max-width:1200px) {
    .Investible-Score-Report-main-inner-cards-wrap{
        flex-direction: row;
        right: auto;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Investible-Score-Report-cont-wrap{
        height: auto;
        max-height: 100%;
    }

    .Investible-Score-Report-main-img{
        position: relative;
    }

    .Home-Tab-System .nav-pills{
        justify-content: center;
    }

    .IndiaOldest-Largest-Repository{
        height: auto;
    }

    .Why-choose-us-main-card h6{
        max-width: 100% !important;
    }

    .Why-choose-us-main-card .primary-icon-wrap{
        margin: 20px auto;
    }

    .Why-choose-us-main-card{
        max-width: 100% !important;
        width: 100% !important;
        text-align: center !important;
    }

    .Why-choose-us-card-wrap{
        flex-wrap: wrap;
    }

    .Desktop-Valuation-main-img-wrap{
          display: grid;
          place-content: center;
    }

    .nav-options{
        display: none;
    }

    .House-Hunt-main-img{
        width: 100%;
        transform: translateX(0%);
        object-fit: cover;
    }

    .House-Hunt-main-img img{
        width: 100%;
    }

    .House-Hunt-card-wrap{
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50% , -50%);
        justify-content: center;
    }

    .House-Hunt-cont-card{
        margin: 0px auto 20px;
    }

    .Desktop-Valuation-main-img-wrap > img{
        position: relative;
    }

    .Desktop-Valuation-card-wrap{
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50% , -50%);
    }

    .Speak-to-an-Expert-sec .Desktop-Valuation-card-wrap{
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50% , -50%);
        flex-direction: column;
    }



}

@media (max-width:1000px) {

    .IndiaOldest-Largest-Repository{
        max-height: 100%;
        height: auto;
    }

    .Indias-Oldest-largest-repository-card{
        /* height: 100%; */
        /* margin-top: 30px; */
    }

    .House-Hunt-cont-wrap .House-Hunt-cont-card{
        max-width: 100%;
    }

    .Speak-to-an-Expert-sec .House-Hunt-cont-card{
        max-width: 100%;
    }

    .Investible-Score-Report-cont-wrap{
       margin-right: auto;
       height: auto;
    }

    .Investible-Score-Report-main-img{
       position:static;
    }

    .banner-main-img-wraper img{
        position: relative;
    }

    .banner-bg-1 , .banner-bg-2{
        display: none;
    }

    .House-Hunt-main-img{
        width: 100%;
        transform: translateX(0%);
    }

    .Desktop-Valuation-main-img-wrap > img{
        max-width: 100%;
    }

    .Speak-to-an-Expert-sec .Desktop-Valuation-main-img-wrap > img{
        max-height: 700px;
        height: 700px;
        object-fit: cover;
        
    }

    .Desktop-Valuation-card-wrap{
        flex-direction: row;
    }

    .Home-Grid-cards-wraper > *{
        flex-basis: 400px;
    }

    .Investible-Score-Report-main-img{
        position: relative;
        width: 100%;
        right: auto;
        left: auto;
        bottom: auto;
        top: auto;
    }

    .Investible-Score-Report-cont-wrap{
        max-height: 100%;
    }

    .Investible-Score-Report-main-inner-cards-wrap{
        flex-direction: row;
        right: auto;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Investible-Score-Report-main-img img{
        height: 100%;
    }
    
}

@media (max-width:700px) {
    .What-our-client-says-card{
        padding: 20px;
    }

    .House-Hunt-card-wrap{
        flex-direction: column;
    }

    .House-Hunt-main-img img{
        height: 700px;
    }
}

@media (max-width:600px) {
    .nav-btn-wrap{
        gap: 5px;
    }

    .nav-Log-In-btn, .nav-Sign-Up-btn{
        padding: 14px 10px;
    }
}


@media (min-width: 1200px){
    .container{
        max-width: 1304px;
    }
}
